{% extends 'base.html' %}
{% block title %}{% trans "Your Profile - FARFETCH" %}{% endblock %}
{% block content %}
{% load i18n %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">{% trans "Your Profile" %}</h2>
        {% if user.is_authenticated %}
        <div class="card shadow-sm">
            <div class="card-body">
                <p><strong>{% trans "Full name:" %}</strong> {{ customer.name|default_if_none:'' }}</p>
                <p><strong>{% trans "Phone:" %}</strong> {{ customer.phone|default_if_none:'' }}</p>
            </div>

            <div class="card-body border-top">
                <p><strong>{% trans "Bank Account:" %}</strong> {{ customer.bank_account|default_if_none:'' }}</p>
                <p><strong>{% trans "Bank Name:" %}</strong> {{ customer.bank_name|default_if_none:'' }}</p>
                <p><strong>{% trans "Bank Branch:" %}</strong> {{ customer.address|default_if_none:'' }}</p>
                <a href="{% url 'edit_profile' %}" class="btn btn-outline-dark">{% trans "Edit Bank Info" %}</a>
            </div>
            <a href="{% url 'home' %}" class="btn btn-outline-dark">{% trans "Shop now" %}</a>
        </div>
        {% else %}
        <p>{% trans "Please" %} <a href="{% url 'login' %}">{% trans "log in" %}</a> {% trans "to view your profile." %}</p>
        {% endif %}
    </div>
</section>
{% endblock %}
