
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
      overflow-y: scroll;
}

.navbar-brand {
    color: #000 !important;
    font-weight: 700;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.btn-dark, .btn-outline-dark {
    border-radius: 0;
}

.nav-link {
    color: #595853 !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #000 !important;
}

.image-box {
    aspect-ratio: 3 / 4;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-box img {
    transition: transform 0.3s ease;
}

.image-box:hover img {
    transform: scale(1.02);
}
